{
  "services": [
    {
      "id": "qbittorrent",
      "enabled": false,
      "comment": "Disable qbittorrent on this Pi"
    },
    {
      "id": "pihole",
      "display_name": "PI-HOLE",
      "service_name": "pihole-FTL",
      "link_url": "http://{hostname}/admin",
      "enabled": true,
      "comment": "Example: Add a systemd service with a web UI link"
    }
  ]
}
